  <div class="row">
  <div class="col-md-2"></div>
   <div class="col-md-8">
     <%= form_for [@post, @comment] do |f| %>
       <div class="form-group">
         <%= f.label :body %>
         <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter comment body" %>
       </div>
       <div class="form-group">
         <%= f.submit "Save", class: 'btn btn-success' %>
       </div>
     <% end %>
   </div>
   <div class="col-md-12"></div>
 </div>