
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">

 	<% @posts.each do |post| %>
	    <div class="media">
	       <div class="media-body">
	       	<h2 class="media-heading"><%= truncate(post.title, :length => 40) %></h2>
	        <div class="media-body">
		       	<h5 class="media-heading"><%= truncate(post.body, :length =>200) %></h5>
	     	</div>
	     </div>
	   </div>
	   <br>
	   <div class="row">
		   <div class="col-md-6 text-left">
		    <a class="btn btn-info btn-circle text-uppercase btn-xs .inactiveLink" data-toggle="collapse" href=""><span class="glyphicon glyphicon-comment"></span> <%= post.comments.count %> comments</a>
		   </div>	   
		   <div class="col-md-6 text-right">
		   <%= link_to "Read More", post %>
		   </div>
		</div>
	   <hr>
	 <% end %>

	</div>
	<div class="col-md-2"></div>
</div>