<div class="title">

<div>
	<h1><%= @post.title %></h1>
	<p><%= @post.body %></p>
	<%= link_to "Edit", edit_post_path(@post), class: 'btn btn-success btn-xs' %>
	<%= link_to "Delete", @post, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure you want to delete this post?' } %> 
	</div>
</div>


<div class="row">
	<div class="col-sm-3"></div>

<div class="col-sm-1">
			<div class="thumbnail">
				<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
			</div>
		</div>

	<div class="col-sm-5">
			<div class="panel panel-default">
				<%= form_for [@post, @comment] do |f| %>
				<div class="panel-body">
				<%= f.text_area :body, rows: 4, class: 'form-control', placeholder: "Add comment body here" %>
				<%= f.submit "Save", class: 'btn btn-default btn-xs' %>

				</div>
				    <% end %>

			</div>
		</div>

	<div class="col-sm-3"></div>
</div>

<% @post.comments.each do |comment| %>
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-1">
			<div class="thumbnail">
				<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-heading">
				<strong>Tom</strong> <span class="text-muted">commented 5 days ago</span>
				</div>

				<div class="panel-body">
				<%= comment.body %>
		
				</div>
				<div class="panel-footer text-right">
					<%= link_to "Edit", edit_post_comment_path(@post, comment), class: 'btn btn-default btn-xs' %>
	    		<%= link_to "Delete", post_comment_path(@post, comment), method: :delete, class: 'btn btn-default btn-xs', data: { confirm: 'Are you sure you want to delete this comment?' } %> 
				</div>
			</div>
		</div>
		<div class="col-sm-4"></div>
	</div>
<% end %>

</div>