/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


  @import "bootstrap";

  .user-info {
    margin-top: 9px;
  }

 h1 {
   color: #333333;
 }

 p#index-title {
   text-align: center;
   font-size: 15px;
   color: blue;
 }
 
 .posts {
   border: solid;
   margin: 5px;
   padding: 5px;
   height: 200px;
 }

.title {
  text-align: center;
  color: #808080;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}