<!DOCTYPE html>
<html>
  <title>Career Plug</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to("CareerPlug", root_path, class: "navbar-brand") %>
    </div>

    <%= button_to 'Add Post', new_post_path, :class => 'btn btn-info navbar-btn btn-sm navbar-right', :method => :get  %>
  </div>
</nav>

 <div class="container">
    <%= yield %>

</div>
</html>




